<div>
  <div>
    <p>
    <h3><%= comment.commenter %></h3>
    </p>
  </div>
  <div>
    <p>
      <%= comment.body %>
    </p>
  </div>
  <div>
    <p>
      <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?' } %>
    </p>
  </div>
</div> <br>