<h1>Grapple Demos</h1>
<ul>
	<li><b>HtmlTableBuilder</b></li>
	<li><%= link_to "Basic HTML Table", basic_html_index_path %></li>
	<li><b>DataGridBuilder</b></li>
	<li>Sorting</li>
	<li>Searching</li>
	<li>Pagination</li>
	<li><b>AjaxDataGridBuilder</b></li>
	<li>AJAX</li>
	<li>AJAX w/History</li>
</ul>


<%= link_to 'Everything', controller: 'articles' %>