<div class="row">
  <div class="col-md-6">
    <%= render partial: 'table' %>
  </div>
  <div class="col-md-6">
    <%= code_tabs(['app/controllers/ajax_history_controller.rb', 'app/views/ajax_history/index.html.erb', 'app/views/ajax_history/_table.html.erb']) %>
  </div>
</div>
